.form-column{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.sideBySide{
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
}

.search-bar{
    height: 50px;
    flex: 3;
    margin-right: 20px;
    font-size: 40px;
}

.search-button{
    flex: 1;
    font-size: 40px;
    height: 55px;
    border-radius: 1px;
    color: white;
    background-color: #018aff;
}

.auction-header {
    font-size: 26px;
    font-weight: bold;
}

.main-view-label {
    padding-top: 10px;
    flex-direction: column;
    font-size: 18px;
    color: #5f6266;
}

.bid-heading {
    font-size: 20px;
    margin: 0;
}

.bid-amount {
    font-size: 25px;
    margin: 0;
}

.index-message {
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    background-color: antiquewhite;
    border: 5px solid bisque;
    box-sizing: border-box;
    margin: 0;
}