.sellItem{
    background-color: #01c64c;
    font-size: 30px;
    color: white;
    width:100%;
}

.cancel-button{
    font-size: 20px;
    border-radius: 2px;
    color: white;
    background-color: #d5101f;
    margin-left: auto;
}

.cancel-button-container {
    margin-left:auto;
}