# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
docs/.texpadtmp/Assignment1.aux
docs/.texpadtmp/Assignment1.out
docs/.texpadtmp/Assignment1.synctex.gz

.DS_Store

build/
/DAT250-auction/nbproject/private/
/DAT250-auction/dist/
/WebApplication1/nbproject/private/
