body{
    background-color: lightgray
}

.container{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    flex-direction: column;
    width: 50vw;
}

.inner-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 50vw;
    padding: 5%;
}
.form-row{
    padding: 10px;
    display: flex;
}

.form-column{
    display: flex;
    flex-direction: row;
}

.sideBySide{
    display: flex;
    flex-direction: column;
}
.searchBar{
    height: 50px;
    flex: 3;
    margin-right: 20px;
    font-size: 40px;
}

.searchButton{
    flex: 1;
    font-size: 40px;
    height: 55px;
    border-radius: 1px;
    color: white;
    background-color: #01f5ff
}

.buttonLogin{
    margin-left: auto;
    align-self: center;
}

.auction-header {
    font-size: 26px;
    font-weight: bold;
}

.main-view-label {
    font-size: 18px;
    color: #5f6266;
}
.topMenu{
    display: flex;
}

.topButtons{
    flex: 1;
}

.logo{
    flex: 5;
}

.signOut{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01f5ff;
}

.loginButton{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
}
