body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.outer-container {
    width: 75vw;
}

.container{
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    width: 100%;
}

.inner-main-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 5%;
}
.form-row{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.form-column{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.sideBySide{
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
}

.search-bar{
    height: 50px;
    flex: 3;
    margin-right: 20px;
    font-size: 40px;
}

.search-button{
    flex: 1;
    font-size: 40px;
    height: 55px;
    border-radius: 1px;
    color: white;
    background-color: #018aff;
}

.button-login{
    margin-left: auto;
    align-self: center;
}

.auction-header {
    font-size: 26px;
    font-weight: bold;
}

.main-view-label {
    padding-top: 10px;
    flex-direction: column;
    font-size: 18px;
    color: #5f6266;
}
.bid-heading {
    font-size: 20px;
    margin: 0;
}

.bid-amount {
    font-size: 25px;
    margin: 0;
}

.top-menu{
    display: flex;
    justify-content: space-between;
}

.top-buttons{
}

.logo{
}

.sign-out{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #018aff;
    min-width: 120px;
}

.login-button{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
    width: 200px;
    height: 75px;
}
