body{
    background-color: lightgray;
}

.container{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    width: 75vw;
    background-color: white;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-main-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.form-row{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

/*Everything about the top menu*/

.top-menu{
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.top-buttons{
}

.logo{
}

.sign-out, #backButton{
    font-size: large;
    border-radius: 5%;
    color: white;
    background-color: rgb(0,203,253);
    border: 0.5px solid rgb(220,220,220);
    
    
}

.login-button{
    font-size: large;
    border-radius: 5%;
    color: white;
    background-color: rgb(0,124,253);
    height: 75px;
    width: 200px;
    border: 0.5px solid rgb(220,220,220);

}

.my-account-button {
    font-size: large;
    border-radius: 5%;
    color: white;
    background-color: rgb(0,203,253);
    border: 0.5px solid rgb(220,220,220);
}

.button-login{
    margin-left: auto;
    align-self: center;
}


.category_img{
    width: 150px;
    height: 150px;
    padding-bottom: 25px;
    padding-right: 25px;
}