body{
    background-color: lightgray;
}

.container{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    width: 75vw;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-main-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
}

.form-row{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

/*Everything about the top menu*/

.top-menu{
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.top-buttons{
}

.logo{
}

.sign-out{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #018aff;
}

.login-button{
    font-size: 24px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
    height: 75px;
    width: 200px;
}

.my-account-button {
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
}

.button-login{
    margin-left: auto;
    align-self: center;
}


.category_img{
    width: 150px;
    height: 150px;
    padding-bottom: 25px;
    padding-right: 25px;
}