/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.sep.2017, 12:46:39
    Author     : Jostein
*/

.container{
    display: flex;
    flex-direction: column;
}

.form-row {
    flex: 1;
    margin: 0;
    padding: 0;
}

.form-row input {
    height: 3em;
}

.inputField{
    background-color: transparent;
    border-left: none;
    border-right: none;
    font-size: large;
    text-align: left;
    line-height: 10em;
}
#un {
    border-top: 1px #5f6266 solid;
    border-bottom: 1px #5f6266 solid;
}
#pw {
    border-bottom:1px #5f6266 solid;
    border-top: none;
}

.form-button{
    display: flex;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 5%;

}

#submitButton{
    flex: 3;
    background-color: rgb(0,214,255);
    color: white;
    height: 3em;
    font-size: large;
    border: transparent;
    border-radius: 5%;
}