.sellItem{
    background-color: #01c64c;
    font-size: 30px;
    color: white;
    width:100%;
}

.login-button{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #d5101f;
}
