body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
}

.inner-main-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 40vw;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left:1%;
    margin-right:1%;
    flex: 2;
    min-height: 550px;
}

.inner-sidebar-containter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    margin: 5%;
    
}

.form-row{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.form-column{
    display: flex;
    flex-direction: row;
}

.sideBySide{
    display: flex;
    flex-direction: column;
}

.flex-column {
    flex-direction: column;
}

.sidebar-bid-info-container{
    background-color: white;
    height: 45%;
    padding: 5px;
}

.enter-bid{
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
}

.your-bid{
    font-size: 17px;
}

.bid-input {
    width: 97%;
    height: 35px;
    font-size: 22px;
}

.bid-button {
    width: 100%;
    height: 45px;
    margin-top: 2px;
}

.auction-header {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.category-label {
    font-size: 20px;
    padding-bottom: 20px;
    color: #5f6266;
}

.bid-heading {
    font-size: 22px;
    margin: 0;
}

.bid-amount {
    font-size: 30px;
    margin: 0;
    color: #5f6266;
}

.sidebar-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-bid-heading {
    font-size: 20px;
}

.sidebar-bid-label {
    font-size: 30px;
}

.sidebar-time-label {
    font-size: 18px;
    color: #5f6266
}

.description-header {
    font-size: 22px;
    margin-top: 20px;
}

.info-text {
    font-size: 20px;
    color: #5f6266;
}
    
.top-menu {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.top-buttons {
    margin-right: 5%;
}

.logo {
    margin-left:1%;
}

.sign-out {
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #018aff;
}

.login-button {
    font-size: 20px;
    border-radius: 1px;
    color: white;
    background-color: #01c64c;
}

.sidebar-seller-container{
    background-color: white;
    height: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}

.seller-image-container {
    display: flex;
    justify-content: center;
}

.seller-image {
    height: 150px;
    width: 150px;
}

.flex-align-center {
    flex-direction: column;
    align-items: center;
}