body{
    background-color: lightgray;
}
.container{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}

.form-row{
    padding: 10px;
    display: flex;
}

.form-row input{
    flex: 3;
    height: 20px;
}

.form-row select{
    flex: 3;
}

.form-row label{
    flex: 1;
    padding-right: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.button{
    display: flex;
    justify-content: center;
}

form .postButton{
    font-size: 40px;
    padding: 10px;
    color: white;
    background-color: #01c64c;
    border-radius: 1px; 
}
